<!DOCTYPE HTML>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Employee/Users  Directory</title>
</head>

<body>

<div class="container">

	<h3>Employee/Users Directory</h3>
	<hr>
	
	<div>
		User: <span sec:authentication="name"></span>
		<br>
		Role(s): <span sec:authentication="principal.authorities"></span>
		<br><br>
	</div>				
	 <!--Search box for searching in user's table -->
	<form th:action="@{/search}" class="form-inline">
		
		<input class="form-control  ml-5 mr-sm-2 mb-3" type="search" name="employeeName" placeholder="Search by name" />
		
		<button class="btn btn-success mb-3" type="submit">Search</button>
		  &nbsp
		<a  class="btn btn-success mb-3" th:href="@{/list}" role="button">Show List</a>
		 	  
    </form>
    
   				 
    <table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
			    <th>UserName</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Delete</th>
				<th>Update</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempEmployee : ${users}">
				
				<td th:text="${tempEmployee.userName}" />
				<td th:text="${tempEmployee.firstName}" />	
				<td th:text="${tempEmployee.lastName}" />	
				<td th:text="${tempEmployee.email}" />	
				<td>					
						<!-- Add "delete" button/link -->	
						<div sec:authorize="hasAnyRole('ROLE_ADMIN')">				
						<a th:href="@{/delete(userId=${tempEmployee.id})}"
						   class="btn btn-danger btn-sm"
						   onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
							Delete
						</a>
						</div>
				</td>
				<td>		<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
						<!-- Add "update" button/link -->
						<a th:href="@{/showFormForUpdate(userId=${tempEmployee.id})}"
						   class="btn btn-info btn-sm">
							Update
						</a>
						</div>	
			    </td>
					</div>				
			</tr>
		</tbody>		
	</table>
	<div sec:authorize="hasRole('ROLE_ADMIN')">  		
		
		<p>
			<a th:href="@{/list2}">Access to details employees information</a>
			(Only for Admins)
		</p>
	
	</div>
	<a  class="btn btn-success mb-3" th:href="@{/}" role="button">Back to home</a>
</div>

</body>

</html>